body {
    margin: 0;
    padding: 0;
}

.baner_contato {
    background-image: url(../_img/banner-contato.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.texto_baner {
    text-align: center;
    padding: 5%;
    color: white;
}


form div + div {
    margin-top: 1em;
}

button {
   width: 150px;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

.contact-form p {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0;
}

.contact-form-design-area {
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
	text-indent: 10px;
    border: 1px solid rgba(51, 51, 51, .5);
	border-radius: 10px;

}

.form-control:focus {
    border-color: #497cbf;
    outline: 0;
    box-shadow: none;
}

.contact-form-design-area {
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.contact-form button {
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    background: #497cbf;
    padding: 10px 25px;
    border: 1px solid #497cbf;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px; 
}

.contact-form button:hover {
    -webkit-transition: .3s;
    transition: .3s;
    color: #497cbf;
    background-color: transparent;
    font-weight: 1000;
}

.success {
    background: #fff none repeat scroll 0 0;
    color: #333;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.section-padding {
    padding-top: 3%;
    padding-bottom: 78px;
}

.section-title p {
    margin-top: 4%;
}

.section-title h3 {
    font-size: 30px;
    text-transform: uppercase;
	text-align: center;
    margin: 0;
    font-weight: 700;
    position: relative;
}

.section-title p {
    font-weight: 450;
}

input {
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 50px;
    padding-left: 10px;
}

.form-group {
    float: left;
    margin-top: 0;
    padding: 1%;
}

#editor_back {
    background: transparent;
    padding: 10px;
    z-index: 5;
    height: 200px;
    width: 100%;
}


